<div class="date">
  <div class="col-md-offset-4">
    <h2><%= Time.now.strftime("%A %B %d") %></h2>
  </div>
</div>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
      <% @pairs.each do |pair| %>
        <% pair.each do |student| %>
          <%= student.name %>
        <%end %>
      <%end%>
      <%= link_to 'All students', students_path%>
  </div>
</div>
