<div class="col-md-offset-4 col-md-4 page-title">
  <h2>Blacklist</h2>
</div>
<div class="pairing-wrapper col-md-6 col-md-offset-3">
  <ul class='blacklisted col-md-6 list-group'>
    <% current_student.enemies.each do |enemy| %>
      <li class="list-group-item">
        <%= enemy.name %>
      </li>
    <% end %>
  </ul>
  <ul class="potential-partners col-md-6 list-group">
    <% current_student.friends.each do |friend| %>
      <li class="list-group-item">
        <%binding.pry%>
        <%= link_to friend.name, student_blacklist_index_path(enemy: friend), method: :post %>
      </li>
    <% end %>
  </ul>
</div>
