.page-title h2 {
  text-align: center;
  margin-bottom: 30px;
}

.navbar-inverse .container-fluid .navbar-brand {
  color: #FFAC75;
}

.container .navbar-inverse .navbar-nav>li>a {
  color: #FFAC75;
}

.navbar-header .navbar-brand {
  font-size: 25px;
}

body .pairing-wrapper .blacklisted .list-group-item{
  background-color: #000000;
  color: #ffffff;
}